@page
@model GroupProject.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (ViewBag.SearchByPackage)
{
    <div class="alert alert-">
        <strong>Showing all users with @ViewBag.PackageName</strong>
    </div>
}

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-page="./../Subscriptions/Create" asp-route-id="@item.ID">Package</a>
            </td>
        </tr>
                }
    </tbody>
</table>
